/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


/* Careers */

.careersBackground {
    display: flex;
    margin-bottom: 0px;
    padding-bottom: 0px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background: #C2ACFF;
    background-image: url('@site/static/img/careers/orange-hero.svg');
    background-position: 0% 50%;
    background-size: fill;
    background-origin: content-box;
    background-repeat: no-repeat;
    border-radius: 0 0 4px 4px;
    min-height: 500px;
    height: 500px;
}

.careersHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: fit-content;
}

.careersTitle {
    color: #100024;
    padding-bottom: 15px;
    text-align: center;
    font-size: 3rem;
}

.careersIntro {
    margin: 3rem;
}

@media screen and (max-width: 400px) {
    .careersTable {
        width: 905 !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 20px !important;
    }

    .careersContainer {
        width: 100% !important;
        border-radius: 0px !important;
        box-shadow: none !important;

    }
}

@media screen and (min-width: 996px) {
    .careersContainer {
        background-color: var(--ifm-card-background-color);
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        min-width: 720px;
        width: 700px;
        margin: auto;
        padding-top: 20px;
    }
}

@media screen and (min-width: 1300px) {
    .careersContainer {
        background-color: var(--ifm-card-background-color);
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        min-width: 720px;
        width: 1200px;
        margin: auto;
        padding-top: 20px;
    }
}

@media screen and (max-width: 996px) {
    .careersContainer {
        background-color: var(--ifm-card-background-color);
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        width: 400px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.careersRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.careersTable {
    background: #ffffff30;
    color: var(--ifm-hero-text-color);
    margin: 20px;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
}